{% extends "base.html" %}

{% block contenido %}

<h2>Darfum Elegance</h2>
<p>Sistema de Gestión Comercial</p>

<h3>ESTADO DEL NEGOCIO</h3>

<div class="grid">

    <div class="card-small">
        <p>💼 Capital</p>
        <h3>$0</h3>
    </div>

    <div class="card-small">
        <p>💰 Caja</p>
        <h3 class="blue">$0</h3>
    </div>

    <div class="card-small">
        <p>📈 Utilidad</p>
        <h3 class="green">$0</h3>
    </div>

    <div class="card-small">
        <p>📄 Cuentas</p>
        <h3 class="orange">$0</h3>
    </div>

</div>

{% endblock %}